html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
.btn-primary {
    background-color: #e527b2;
    border: 1px solid #e527b2;
    color: white;
}
.btn-primary:hover {
    background-color: #da25aa;
    border: 1px solid #da25aa;
    color: white;
}

.allProduct .product {
    transform: scale(1);
    transition: 0.15s all;
}

.allProduct .product:active {
    transform: scale(1.05);
}

/* Tailwind classname 'rounded-r-md' not works because of 'btn' class. so applied manually. */
button#coupon_apply_btn {
    border-radius: 0px 6px 6px 0px;
}

button.btn[disabled="disabled"] {
    border: 1px solid transparent;
}

/* Product Images Style*/
.card figure img {
    height: 130px;
}

/* Rating Styles Start*/
.customRating {
    display: flex;
    justify-content: center;
}
.customRating > div {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.rating_filled {
    background-image: url("./images/rating_filled.png");
}
.rating_empty {
    background-image: url("./images/rating_empty.png");
}
/* Rating Styles Ended */

/* Effects for scroll to bottom button. which shows only small devices. */
#scroll-to-bottom {
    transform: scale(1);
    transition: 0.15s all;
}

#scroll-to-bottom:active {
    transform: scale(0.85);
}

#scroll-to-bottom.animate {
    transform: scale(1.05);
}

#scroll-to-bottom.animate:focus {
    outline: 0;
}

#scroll-to-bottom.animate:before,
#scroll-to-bottom.animate:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -15%;
    z-index: -1000;
    transition: all ease-in-out 0.3s;
    background-repeat: no-repeat;
}
#scroll-to-bottom.animate:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
#scroll-to-bottom.animate:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%),
        radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
#scroll-to-bottom.animate:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
#scroll-to-bottom.animate.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
#scroll-to-bottom.animate.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%,
            70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%,
            90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%,
            90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
