html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f8f8f8 !important;
}

.btn-primary {
    background-color: #e527b2;
    border: 1px solid #e527b2;
    color: white;
}
.btn-primary:hover {
    background-color: #da25aa;
    border: 1px solid #da25aa;
    color: white;
}

.allProduct .product,
#scroll-to-bottom {
    transform: scale(1);
    transition: 0.15s all;
}
.allProduct .product:active {
    transform: scale(1.05);
}

#scroll-to-bottom:active {
    transform: scale(0.85);
}

input#coupon_code {
    border: 1px solid #c6c6c6;
    border-radius: 6px 0px 0px 6px;
}
button#coupon_apply_btn {
    border-radius: 0px 6px 6px 0px;
}
button.btn[disabled="disabled"] {
    border: 1px solid transparent;
    cursor: not-allowed;
}
/* Product Images */
.card figure img {
    height: 130px;
}

/* Rating Styles */
.customRating {
    display: flex;
    justify-content: center;
}
.customRating > div {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.rating_filled {
    background-image: url("./images/rating_filled.png");
}
.rating_empty {
    background-image: url("./images/rating_empty.png");
}
/* Rating Styles Ended */
/* Cart Style */
#total_price,
#discount,
#total {
    color: #888888;
}
